Repository devantler-tech/ksail-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: mockery, generate-schema

.pre-commit-config.yaml:

# Pre-commit configuration for automatic Go code formatting and mockery
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.1
    hooks:
      - id: golangci-lint-fmt
  - repo: local
    hooks:
      - id: mockery
        name: Generate mocks with mockery
        entry: .github/scripts/run-mockery.sh
        language: script
        files: '\.go$'
        pass_filenames: false
      - id: generate-schema
        name: Generate JSON schema for KSail config
        entry: .github/scripts/generate-schema.sh
        language: script
        files: 'pkg/apis/cluster/v1alpha1/.*\.go$'
        pass_filenames: false

fix: resolve ireturn linter violation for CNI installer base GetClient method (#509)
  .golangci.yml
  pkg/svc/installer/cni/base.go
Due: mockery

Update .specify/scripts/bash/update-agent-context.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

Remove unrelated changes from CNI installer consolidation PR (#507)
  .specify/memory/constitution.md
  .specify/scripts/bash/update-agent-context.sh
  .vscode/settings.json
  pkg/k8s/multi_resource.go
  specs/001-cni-installer-move/quickstart.md
Due: mockery

Update pkg/svc/installer/cni/doc.go
  pkg/svc/installer/cni/doc.go
Due: mockery

refactor: simplify project structure and remove internal directory references
  CONTRIBUTING.md
Due: none

Consolidate CNI installer packages and helpers (#439)
  .github/agents/speckit.implement.agent.md
  .golangci.yml
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CONTRIBUTING.md
  cmd/cluster/create.go
  cmd/cluster/create_test.go
  go.mod
  pkg/svc/installer/cni/base.go
  pkg/svc/installer/cni/base_test.go
  pkg/svc/installer/cni/calico/doc.go
  pkg/svc/installer/cni/calico/installer.go
  pkg/svc/installer/cni/calico/installer_test.go
  pkg/svc/installer/cni/cilium/doc.go
  pkg/svc/installer/cni/cilium/installer.go
  pkg/svc/installer/cni/cilium/installer_test.go
  pkg/svc/installer/cni/doc.go
  specs/001-cni-installer-move/checklists/requirements.md
  specs/001-cni-installer-move/data-model.md
  specs/001-cni-installer-move/plan.md
  specs/001-cni-installer-move/quickstart.md
  specs/001-cni-installer-move/research.md
  specs/001-cni-installer-move/spec.md
  specs/001-cni-installer-move/tasks.md
Due: mockery

docs: establish constitution v1.0.0 (core principles + governance)
  .specify/memory/constitution.md
Due: none

docs: establish constitution v1.0.0 (core principles + governance) (#511)
  .specify/memory/constitution.md
Due: none

fix(deps): remove helm.sh/helm/v4 dependency from go.mod and go.sum
  go.mod
  go.sum
Due: none

Notes added by 'git notes add'
  add2025ccb3d308a9279db5ade01615f34f3b980
Due: none

feat(spec): add Flannel CNI implementation specification and quality checklist
  specs/003-flannel-cni/checklists/requirements.md
  specs/003-flannel-cni/spec.md
Due: none

feat(spec): enhance Flannel CNI specification with failure handling and testing scenarios
  specs/003-flannel-cni/spec.md
Due: none

feat: add pull request template for better PR descriptions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: enhance pull request template with detailed sections for description, testing, and checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: remove outdated pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: update handoff prompts in clarify and specify agents for improved clarity and functionality
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.specify.agent.md
Due: none

fix: correct file paths and improve script formatting in update-agent-context.sh
  .specify/scripts/bash/update-agent-context.sh
Due: none

Update specs/003-flannel-cni/spec.md
  specs/003-flannel-cni/spec.md
Due: none

feat(cni): add Flannel as a new CNI option
  .github/copilot-instructions.md
  specs/003-flannel-cni/contracts/cni-types.md
  specs/003-flannel-cni/contracts/flannel-installer.md
  specs/003-flannel-cni/data-model.md
  specs/003-flannel-cni/plan.md
  specs/003-flannel-cni/quickstart.md
  specs/003-flannel-cni/research.md
Due: none

feat(cni): add tasks for Flannel CNI implementation
  specs/003-flannel-cni/tasks.md
Due: none

docs: standardize Go version references to 1.25.4+ (#513)
  .github/copilot-instructions.md
  .serena/memories/code_style.md
  CONTRIBUTING.md
  specs/001-cni-installer-move/plan.md
  specs/001-cni-installer-move/quickstart.md
  specs/003-flannel-cni/plan.md
Due: none

feat(cni): enhance Flannel CNI support with distribution-specific behavior and new interface methods
  specs/003-flannel-cni/contracts/cni-types.md
  specs/003-flannel-cni/contracts/flannel-installer.md
  specs/003-flannel-cni/data-model.md
  specs/003-flannel-cni/plan.md
  specs/003-flannel-cni/research.md
  specs/003-flannel-cni/spec.md
Due: none

feat(cni): add Flannel CNI installer and bootstrap DaemonSet
  .dockerignore
  .github/scripts/generate-schema/main.go
  .gitignore
  .mockery.yml
  cmd/cipher/decrypt.go
  cmd/cipher/mocks_test.go
  cmd/cluster/create.go
  cmd/cluster/create_test.go
  cmd/cluster/mocks_test.go
  pkg/apis/cluster/v1alpha1/constructors_test.go
  pkg/apis/cluster/v1alpha1/types.go
  pkg/client/kubectl/manifest.go
  pkg/client/kubectl/manifest_test.go
  pkg/client/kubectl/mocks.go
  pkg/io/scaffolder/scaffolder.go
  pkg/io/scaffolder/scaffolder_test.go
  pkg/io/validator/ksail/validator.go
  pkg/io/validator/ksail/validator_test.go
  pkg/svc/installer/cni/flannel/bootstrap_manifest.go
  pkg/svc/installer/cni/flannel/cni-bootstrap.yaml
  pkg/svc/installer/cni/flannel/doc.go
  pkg/svc/installer/cni/flannel/installer.go
  pkg/svc/installer/cni/flannel/installer_test.go
  schemas/ksail-config.schema.json
  specs/003-flannel-cni/tasks.md
Due: mockery, generate-schema

feat(cni): add Flannel CNI support for Kind and K3d distributions
  .github/workflows/ci.yaml
Due: none

feat(cni): remove unnecessary test-workload flag for Kind and K3d distributions
  .github/workflows/ci.yaml
Due: none

feat(cni): define applyFieldManager constant for patch options
  cmd/cluster/create.go
Due: mockery

feat(cni): update security context for install-cni-plugins container
  pkg/svc/installer/cni/flannel/cni-bootstrap.yaml
Due: none

feat(cni): add mutex for Flannel install hook to ensure thread safety
  cmd/cluster/create.go
  cmd/cluster/create_test.go
  pkg/svc/installer/cni/flannel/installer_test.go
Due: mockery

refactor(tests): simplify error assertion logic in install and uninstall test cases
  pkg/svc/installer/cni/flannel/installer_test.go
Due: mockery

feat(cni): migrate Flannel installation from kubectl to Helm for improved management
  cmd/cluster/create.go
  pkg/svc/installer/cni/flannel/bootstrap_manifest.go
  pkg/svc/installer/cni/flannel/cni-bootstrap.yaml
  pkg/svc/installer/cni/flannel/installer.go
  pkg/svc/installer/cni/flannel/installer_test.go
  specs/003-flannel-cni/tasks.md
Due: mockery

fix: remove ksail-go from .gitignore
  .gitignore
Due: none

Notes added by 'git notes add'
  d0df08ca8e03a01434c6b717960cacb579dc1f02
Due: none

feat: add specification quality checklist and feature specification for moving Go source code to src/
  specs/001-move-all-source/checklists/requirements.md
  specs/001-move-all-source/spec.md
Due: none

fix: update handoff prompts and improve specification quality checklist formatting
  .github/agents/speckit.specify.agent.md
Due: none

feat: reorganize Go source code into src/ directory
  .github/copilot-instructions.md
  .specify/scripts/bash/update-agent-context.sh
  specs/001-move-all-source/contracts/validation-contracts.md
  specs/001-move-all-source/data-model.md
  specs/001-move-all-source/plan.md
  specs/001-move-all-source/quickstart.md
  specs/001-move-all-source/research.md
  specs/001-move-all-source/spec.md
Due: none

feat: add tasks for moving all Go source code to src/ directory
  specs/001-move-all-source/tasks.md
Due: none

feat: complete tasks for moving all Go source code to src/ directory
  specs/001-move-all-source/tasks.md
Due: none

fix: update VS Code lint and fmt tasks to run from src/ directory
  .vscode/tasks.json
Due: none
